/*
    Document   : stylesheet.css
    Created on : 30 May 2010, 1:11:21 PM
    Author     : dkeats
    Description:
        Leave this blank for consistency to implement the underlying skin as a canvas to enable selecting.
*/

html {
    background: #CCCCCC;
}

body {
    background: #CCCCCC;
    background-image:url("images/bodytopbg.jpg");
    background-position:left top;
    background-repeat:repeat-x;
    margin-top: -23px;
}

#header {
    background-image:url("images/featuredbg.jpg");
    background-repeat:repeat-x;
    height: 170px;
    margin: 0;
}

#navigation {
    margin-top: -100px;
    margin-left: 5px;
    margin-right: 5px;
    height: 65px;
}

#container
{
    background: transparent url("images/container.jpg") top left repeat;
    border: 0px;
    margin-top: 10px;
}

#Canvas_Content_Body {
    background: transparent;
    margin-top: 25px;
}

#header h1 {
    margin-top: -5px;
}

#menuList {
    background: transparent url("images/menubg.png") top left repeat-x;
    height: 32px;

}

ul#menuList li.first {
    margin-left: 5px;
}

#menu li ul {
    background: url("images/overlay.png") top left repeat;
    color: white;
}

#menu li ul a, #menu li ul a:visited {
    color: white;
}

#menu li ul a:hover, #menu li ul a:visited:hover {
    color: black;
}

#breadcrumbs {
    background: transparent url("images/menubg.png") top left repeat-x;
    height: 32px;
    padding-top: 3px;
}

.Canvas_AfterContainer{
    height: 50px;
    background: transparent url("images/canvasafterfooter.png") top left no-repeat;
}



h5.featureboxheader, h5.featureboxheader a, h5.featureboxheader:visited {
    background: black;
    color: white;
    padding-left: 5px;
}


/*
All the things that have a white border in the metallic
skin are listed here
*/
.contentfeaturebox h3,.blog-item-base, #menu>ul>li,
 .forumBlock legend, .newForumContainer,
.middleblock, .outerwrapper, .canvasthumb, #nav-secondary,
div#Canvas_Content_Body_Region1 div.featurebox,
div#Canvas_Content_Body_Region3 div.featurebox {
    border: solid 1px #989898;
}
.currentstory {
    border: none;
}
.storytitle h3, .allforums th {
    border-bottom: none;
}

.newForumContent {
    border-top: solid 1px #989898;
}

#header a, a.visited {
    color: #FFFFFF;
}

#header a:hover, a.visited:hover {
    color: #989898;
}




/*
Reset the rounded corners. This resets all except the canvas
thumbnails, irrespective of the level of curve.
*/
#container, #header, .contentfeaturebox, .contentfeaturebox h3,
.featureboxheader, .blog-item-base, .featurebox,  body.help-popup,
.toolbar_menuuser, .toolbar_menuuser h2, #nav-secondary, fieldset,
.tabcontentstyle, fieldset .tabbox, #footer, #menu>ul>li, #menu>ul>li a:hover,
#menu li ul, form.inplaceeditor-form, .storytitle h3, .storyauthor,
.currentstory, #modernbricksmenu #current a, .forumBlock legend,
.newForumContainer, .allforums, .query .tweet_list .tweet_even,
.query .tweet_list .tweet_odd, .middleblock, #albums .album, .imagethumb a,
#main2, .x-panel-body, .blogpreview, #homepagestats, .standard_form,
form#form_createfolder, .moduleupdate, #form_createcontext,
#form_updateplugins table, #paginationresults_pagenavigation_context,
#paginationresults_pagenavigation_all, .chapterlisting, .addchapterform,
.wrappedsegment, .innerwrapper, .outerwrapper, .colorbox h3
{
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
}