/*
    An eLearning skin for the Kenga eLearning system

    It uses the skin engine version 2 for Chisimba.

    Author: Derek Keats
    License: GPL V2

*/


@import "../canvas/stylesheet.css";

/* The body & background */
body {
    background: url('images/bg.jpg');
    background-repeat: repeat-x repeat-y;
    background-attachment: fixed;
}

/* The top logo */
#header {
    background: transparent url('images/kenga-elearn.png') no-repeat top left;
    height: 80px;
    margin-top: 2px;
}
h1#sitename {
    display:none;
}

/* The footer */
#footer {
    background: white url('images/mainmenu.png') repeat-x left;
    color: white;
    height: 30px;
}

#footer a:link, #footer a:visited {
    color: skyblue;
    text-decoration: none;
}
#footer a:hover, #footer a.visited:hover {
    color: cyan;
    text-decoration: none;
}

/* eLearning button styles */

ul .glossytabs {
    color: #4a5ca8;
}

.glossytabs li{
    margin-left: 4px;
    padding-left: 10px;
}

.glossytabs li a{
    color: #4a5ca8;
    font-size: 110%;
    font-weight: bold;
}

.glossytabs li a strong {
    background: transparent url(images/nav-bg.gif) repeat-x scroll 0;
    float: left;
    display: block;
    padding: 0px 16px 0px 16px; /*Padding of menu items*/
    font-weight: bold;
}

.glossytabs li.current a strong {
    color: #000;
    background: transparent url(images/current-bg.gif) repeat-x scroll 0;
    font-weight: bold;
}

.glossytabs li a:hover strong {
    background: transparent url(images/hover-bg.gif) repeat-x scroll 0;
    font-weight: bold;
}

/** Personal blocks **/
.tabbertab th.heading {
    color: #3f95c3;
    line-height: 15px;
    font-size: small;
}

.tabbertab td {
    color: #165879;
    font-family: sans-serif;
    font-size: small;
    font-weight: lighter;
    line-height: 15px;
}

.personalblock {
    margin-top: 10px;
    margin-bottom:10px;
    padding: 5px;
    border: 1px dotted #407aa7;
}

/** File manager **/
#input_filequery{
    width: 130px;
}

/** Wide calendar **/
#widecalendar {
    width: 98%;
}
div#widecalendar table.calendarTable td {
    padding-left: 0px;
    font-size: small;
}
div#widecalendar table.calendarTable td ul {
    padding: 0px;
    margin-left: 0px;
}
li.event_site, li.event_other, li.event_context, li.event_user, li.event_workgroup {
    padding-left: 23px;
    padding-right: 3px;
}

.dayNamesText {
    font-size: smaller;
}

.undercallinks_wrapper {
    margin-bottom: 20px;
}

.eventslist {
    background: transparent;
    width: 98%;
}

table.eventslist tr {
    height: auto;
    padding: 0px;
}

table.eventslist td {
    padding-bottom: 10px;
}

/** Splashscreen **/

.splashscreenwrapper {
    margin: auto;
    background: transparent;
}

.splashscreen {
    background: transparent url('../../packages/splashnostalgia/resources/screens/Chalkboard.png') no-repeat top center;
    width:496px;
    height: 435px;
    padding: 0px;
    margin: auto;
}

.splashcontents {
    margin: auto;
    padding-left: 66px;
    padding-right: 66px;
    padding-top: 60px;
}